<form #editForm="ngForm" id="editForm" (ngSubmit)="updateTeams()">
    <div class="form-inline">
        <label for="playerNum">Number of players: </label>
        <input type="text" name="city" class="form-control mx-2">
        <label for="teamsNum">Teams number: </label>
        <input type="text" name="country" class="form-control mx-2">
    </div>
</form>

<table>
    <tr>
        <th>111</th>
        <th>111</th>
    </tr>
    <tr>
        <td>dadsa</td>
        <td>111</td>
    </tr>
</table>